* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}
header {
    max-width: 1600px;
    margin: 0 auto;
    padding: 16px 0;
}

.container {
    width: 71%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 60px;
    width: 139px; 
}


.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}


.btn1 {
    background-color: #30b868;
    color: white;
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.hero {
   
    background: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    padding: 115px 12px 180px 12px;
    text-align: center;
    margin: 0 auto;
    max-width: 1600px;
}

.hero-container {
    max-width: 1380px; 
    margin: 0 auto;
    color: white;
    padding: 0 20px;
}

.offer-button {
    width: 229px;
    color: #30B868;
    background: white;
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 16px;
}



.hero h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    margin: 16px 0px;
}

.green-text {
    color: #30b868;
}

.hero p {
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-bottom: 40px;
}

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.first-button {
    background: #30b868;
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.second-button {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.notes-section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 44px 120px 0px 120px;
    text-align: center;
    background-color: #fafafa;
}

.notes-section-header h2 {
    font-size: 48px;
    font-weight: 900;
    color: black;
    margin-bottom: 16px;
}

.notes-section-header p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}


.cards-container {
    display: flex;     
    gap: 24px;            
    justify-content: center; 
    width: 1360px;
    margin: 0 auto;
}

.card {
   
    max-width: 300px;      
    background: #ffffff;
    padding: 24px 24px;
    border-radius: 12px;
    
}


.icon-circle {
    width: 64px;
    height: 64px;
    background-color: #f95555; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.card h3 {
    font-size: 20px;
    color: #0d1b2a;
    margin:16px 16px
}

.card p {
    font-size: 14px;
    color: #627382;
    line-height: 20px;
}

.image-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 1360px;

}


.content-side {
    display: block;
    padding-left: 60px;
}

.content-side span {
    color: #30b868; 
    font-size: 16px;
    font-weight: 600;
}

.content-side h1 {
    color: #0f172a;
    font-size: 2.8rem;
    line-height: 1.1;
    margin: 15px 0;
    font-weight: 800;
}

.content-side p {
    color: #64748b;
    margin-bottom: 30px;
    font-size: 16px;
}


.content-side ul {
    list-style-type: "✅";
    padding-left: 20px;
}

.content-side ul li {
    color: #1e293b;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;

}




    