* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}
header {
    border: 1px solid #848484;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 71%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 60px;
    width: 139px; 
}


.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}


.btn1 {
    background-color: #30b868;
    color: white;
    padding: 12px 16px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
}


